* {
  box-sizing: border-box;
}

.Main {
  background: linear-gradient(to top, rgb(100, 13, 35), rgb(5, 6, 83));
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 50px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.Button {
  display: none;
}

.NavBar {
  height: 100%;
  
}


@media (max-width: 530px) {
.NavBar {
  display: none;
 
}

.Button {
  position: fixed;
  display: flex;
  justify-content: center;
  background:rgb(32, 51, 95);
  color: white;
  border: none;
  width: 65px;
  height: 30px; 
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
  text-align: center;
  padding: 4px;
  box-shadow: 2px 2px 3px 1px black;
}

}