* {
  box-sizing: border-box;
}
.navLinksContainer{
  height: 100%;
}

.navLinks {
  width: 500px;
  margin: 0;
  padding: 0;
  height: 100%;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to top, rgb(100, 13, 35), rgb(5, 6, 83));}

.navLinks div {
  display: flex;
  height: 100%;
  background: black;
  
}
.navLinks div:hover {
  background-color: rgb(28, 34, 47);
  width: 160px;
}
.navLinks p {
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  margin: 5px;
  
}

.LinkTab {
  color: rgb(89, 180, 255);
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.Home {
  justify-content: flex-start;
  flex-wrap: nowrap;
}

@media (max-width: 530px) {
  .navLinks {
    margin: 0;
    padding: 0;
    width: 90px;
    list-style-type: none;
    position: fixed;
    top: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 9;
    
    /* background: white; */
  }
  .navLinksContainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navLinks div{
    background: blue;
    color: black;
    z-index: 7;
    width: 90px;
  }
  .navLinks div:hover {
    width: 90px;
    color: black;
    background: rgb(125, 166, 255);;
  }
  
}