@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');



.Main {
  color: white;
  display: flex;
  flex-direction: row;
  font-family: 'Work Sans', sans-serif;

}
.Heading {
  color: rgb(78, 158, 250);
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
  
}
.Heading h1 {
  border: 3px solid rgb(48, 17, 190);
  background-color: rgb(58, 5, 21);
  padding: 5px 10px;
  font-size: 2.5rem;

}

.IntroBlurb {
  background: black;
  border: 2px solid rgb(75, 183, 255);
  box-shadow: 4px 4px 3px rgba(0, 195, 255, 0.589);
  padding: 20px;
  margin: 20px;
  width: 50vw;
  z-index: 1;
  font-size: 1.1rem;
  
}

.CTA {
  background: black;
  border: 2px solid rgb(75, 183, 255);
  box-shadow: -4px 4px 3px rgba(0, 195, 255, 0.589);
  padding: 10px;
  margin: 20px;
  width: 50vw;
  font-size: 1.1rem;
  padding: 20px;
  /* height: 25vw; */
  z-index: 1;/*set to three */
}
.TopPageFiller {
  height: 40px;
}
.PageFiller {
  height: 700px;
}

.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  
}


@media (max-width: 530px) {
  .Main {
   
    flex-direction: column;
    align-items: center;
  }
  .CTA {
    width: 80vw;
    margin: 15px;
  }
  .IntroBlurb {
    width: 80vw;
    margin: 15px;
  }
  }