* {
  box-sizing: border-box;
}

.Main {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background: black;
  box-shadow: 4px 4px 5px rgb(107, 238, 255);
  color: white;
  margin: 0px 20px;
  border: 3px solid green;
}
.Main a{ /* should instead go on BlogPage.js, in containing element that hold the list of Blog Summaries, with the 'a' element specifically targeted*/
  /* text-decoration: none; */
}

.Title {
  margin: 15px;
  margin-left: 20px;
  font-size: 1.4rem;
}

.MainImage {
  width: 150px;
  height: 195px;
  /* margin-right: 35px; */
}