.Main {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 200px;
  background: black;
  box-shadow: 4px 4px 5px rgb(107, 238, 255);
  color: white;
  margin: 0px 20px;
  border: 3px solid green;
}

.MainImage {
  width: 150px;
}